
/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding-top: 70px; /* Add padding to create space for the fixed header */
  }
  
  .profile-pic {
    width: 200px;
    height: auto;
    max-width: 45%;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333333;
    color: #ffffff;
    padding: 20px 20px;
    align-items: center;
    justify-content: space-between; /* Add this */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the navigation items horizontally */
  }
  
  nav ul li {
    margin-right: 30px;
    margin-left: 0px;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  nav ul li a:hover {
    color: #ff69b4;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0; /* Remove padding */
  }
  
  section {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center; /* Center the text within sections */
  }
  
  h1, h2 {
    margin-bottom: 20px;
    text-align: center; /* Center the headings */
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  ul {
    list-style-type: none; /* Remove bullet points */
    margin-bottom: 30px;
    padding-left: 20px;
    text-align: center;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    border: 1px solid #00000054;
  }
  
  .btn:hover {
    background-color: #eeeeee;
  }
  
  footer {
    position: fixed; /* Add fixed position */
    bottom: 0; /* Position at the bottom of the screen */
    left: 0; /* Position at the left edge of the screen */
    width: 100%; /* Occupy the full width of the screen */
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  #home,
  #about {
    padding: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px; /* Increase the top margin to create more space */
    padding-top: 20px;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #about h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  #about p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  
  #about ul {
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  #about ul li {
    margin-bottom: 10px;
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    header {
      padding: 10px;
    }
  
    .container {
      padding: 20px;
    }
  
    section {
      padding: 20px;
    }
  }
  